
.ant-menu{
    background: transparent;
}

.ant-layout{
    background: transparent;
}
.ant-layout-header{
    background: transparent;
}
.ant-layout-sider{
    background: transparent;
}

